DATABASE_URL='postgresql+psycopg://meu_usuario:minha_senha@url_do_banco:porta_do_banco/nome_do_banco'
DATABASE_POOL_SIZE='tamanho-da-pool' # Deve ser um número inteiro positivo
DATABASE_MAX_OVERFLOW='tamanho-da-sobrecarga-da-pool' # Deve ser um número inteiro positivo

# Chave gerada automaticamente pelo secrets.token_urlsafe(32)
# Parâmetro é o número de bytes aleatórios, no caso 32. Assim, ela possui o mesmo número de bits de um hash SHA256.
SECRET_TOKEN_KEY='chave-de-criptografia'
ALGORITHM='algoritmo-de-criptografia'
ACCESS_TOKEN_EXPIRE_MINUTES='tempo-de-vida-do-token' # Deve ser um número inteiro positivo