###### Configurações do Backend ######
DATABASE_URL='postgresql+psycopg://meu_usuario:minha_senha@url_do_banco:porta_do_banco/nome_do_banco'
DATABASE_POOL_SIZE='tamanho-da-pool'
DATABASE_MAX_OVERFLOW='tamanho-da-sobrecarga-da-pool'

REDIS_HOST='dns-ou-ip-do-redis'
REDIS_PASSWORD='senha-do-redis'
REDIS_PORT='porta-do-redis'
REDIS_CHECK_INTERVAL_SECONDS='intervalo-de-verificação-de-uptime'

ACCESS_TOKEN_KEY='chave-de-criptografia'
ACCESS_TOKEN_EXPIRE_MINUTES='tempo-de-vida-do-token'

RECOVERY_TOKEN_KEY='chave-de-criptografia'
RECOVERY_TOKEN_EXPIRE_MINUTES='tempo-de-vida-do-token'

REFRESH_TOKEN_KEY='chave-de-criptografia'
REFRESH_TOKEN_EXPIRE_DAYS='tempo-de-vida-do-token'

ALGORITHM='algoritmo-de-criptografia'

SENDER_NAME='nome-do-usuario-do-email' # Um nome real, como 'Liqua Monitor'
SENDER_ADDRESS='endereço-de-email-do-sistema'

RESEND_API_KEY='chave-de-api-do-resend'

WEB_APP_URL='url-da-api'




###### Configurações do Docker ######
POSTGRES_USER='usuario-do-postgres-no-docker'
POSTGRES_PASSWORD='senha-do-postgres'
POSTGRES_DB='nome-do-banco-de-dados'
POSTGRES_PORT='porta-do-postgres'